@use './variables.module.scss';

.intro {
    background-color: black;
    color: #fff;
    padding: 4rem;
    margin-bottom: 1rem;
}

.introText {
    line-height: 150%;
    font-size: 1rem;
}

.description {
    display: grid;
    gap: 1rem;

    @media (min-width: 856px) {
        grid-template-columns: 1fr 1fr;
    }

    > * {
        padding: 3rem 1rem;

        @media (min-width: 500px) {
            padding: 4rem 3rem;
        }
    }
}

.motive {
    background-color: variables.$gold_300;
}

.motiveList {
    li {
        margin-bottom: .25rem;
        list-style-type: square;
        list-style-position: inside;
    } 
}

.purpose {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/images/reading.jpeg") ;
    background-size: cover;
    color: #fff;

    p:last-child {
        line-height: 140%;
        margin-bottom: 2rem;
    }
}

.heading {
    font-size: clamp(1.125rem, 0.7132rem + 2.0588vw, 2rem);
    text-wrap: pretty;
    margin-bottom: 1rem;
    font-weight: 500;
}

