@use './variables.module.scss';

.p1 {
    padding-inline: 1rem;
}

.intro {
    background-color: variables.$green_500;
    color: #fff;
    padding: 2rem;
    margin-bottom: .75rem;

    @media (min-width: 720px) {
        padding: 4rem;
    }
}

.introText {
    line-height: 150%;
    font-size: 1rem;
}

.description {
    display: grid;
    gap: .75rem;

    @media (min-width: 856px) {
        grid-template-columns: 1fr 1fr;
    }

    > * {
        padding: 2.5rem 2rem;
        border-radius: 1rem;

        @media (min-width: 500px) {
            padding: 4rem 3rem;
        }
    }
}

.motive {
    background-color: variables.$gold_300;
}

.motiveList {
    li {
        margin-bottom: .25rem;
        list-style-type: square;
        list-style-position: inside;
    } 
}

.purpose {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("/images/reading.jpeg") ;
    background-size: cover;
    color: #fff;
    text-wrap: pretty;
}

.heading {
    font-size: clamp(1.125rem, 0.7132rem + 2.0588vw, 2rem);
    text-wrap: pretty;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 110%;

    & + p {
        line-height: 140%;
        margin-bottom: 1rem;
    }
}

