@use './variables.module.scss';

.button {
    color: variables.$gray_700;
    background-color: variables.$green_400;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1em 2em;
    border-radius: 100px;
    font-weight: 500;
    font-size: 14px;
    width: fit-content;
    cursor: pointer;

    &:hover {
        background-color: variables.$purple_600;
        color: white;

        img {
            filter: invert(1);
        }
    }

    @media (min-width: 520px) {
        padding: 1.1em 2.5em;
    }
}

.variant {
    background-color: variables.$gold_300;
    border: 1px solid variables.$purple_800;
}

.variant2 {
    background-color: variables.$purple_800;
    color: #fff;
    img {
        filter: invert(1);
    }
}