@use './variables.module.scss';

@media (max-width: 1000px) {
    .contentWrapper {
        padding-inline: 1rem;
    }
}


.contents {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.ContentBox {
    background-color: rgb(236, 236, 236);
    flex: 300px 1 0;
    padding: 2rem 1.5rem;
    border-radius: 1rem;  
}

.head {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;

    div {
        width: 50px;
        border-radius: 100px;
        background-color: variables.$green_400;
        aspect-ratio: 1 / 1;
    }

    h3 {
        font-size: 1.1rem;
        font-weight: 600;
    }
}

.body {
    p {
        line-height: 120%;
    }

    p:first-child {
        margin-bottom: .5rem;
    }
}

.h2 {
    margin-bottom: 2.5rem;
    color: variables.$purple_600;
}