.faq {
    margin-inline: 1rem;

    h2 {
        max-width: 480px;
        text-align: center;
        margin: 0 auto 4rem;
    }

    @media (max-width: 900px) {
        padding-top: 4rem;
    }
}

.faqBoxes {
    max-width: 820px;
    margin-inline: auto;
}