@use './variables.module.scss';

.product {
    position: relative;
    background-color: variables.$green_400;
    padding-inline: 1rem;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: variables.$green_400;
        background-image: url('/images/pattern.jpg');
        background-size: 640px;
        background-blend-mode: multiply;
        opacity: 0.12;
    }
}

.heading {
    font-size: 16px;
    font-weight: 400;
    border-radius: 60px;
    width: fit-content;
    padding: 8px 24px;
    margin-bottom: 1.5rem;
    color: #fff;

    @media (min-width: 720px) {
        margin-bottom: 2rem;
    }
}

.productContent {
    position: relative;
    max-width: 480px;
    z-index: 5;
}

.actions {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.link {
    border-bottom: 2px solid variables.$purple_600;
    padding-bottom: 2px;
    font-size: 14px;

    &:hover {
        border-bottom: 3px solid variables.$gold_300;
    }

    &:active {
        color: variables.$gold_300;
    }
}

.extra {
    display: grid;
    padding: 2.5rem 0 0 1rem;
    gap: 2rem;

    ul {
        display: flex;
        gap: 8px;
        align-items: center;
        flex-wrap: wrap;

        span {
            width: 4px;
            height: 4px;
            border-radius: 2px;
            background-color: variables.$gold_300;
        }
    }
    li {
        font-weight: 600;
        font-size: 14px;
        color: variables.$purple_600;
    }

    @media (min-width: 860px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1040px) {
        padding-bottom: 3rem;
    }
}

.subheading {
    margin-bottom: .5rem;
    color: rgba(41, 6, 41, .72);
}

.imgContainer {
    position: relative;

    img {
        margin-inline: auto;

        @media (min-width: 860px) {
            position: absolute;
            top: -450px;
        }

        @media (max-width: 1050px) {
            width: 450px;
            height: 597.6px;
        }

        @media (max-width: 960px) {
            width: min(400px, 100%);
            height: auto;
        }
    }

    @media (max-width: 860px) {
        justify-self: center;
    }
}

