@use './variables.module.scss';

.specialtiesWrapper {
    background-color: variables.$gray_200;
    padding-inline: 1rem;

    h2 {
        margin-bottom: 2.5rem;
        color: #2a512a;
    }

    // p {
    //     color: variables.$gray_700;
    // }
}

.specialtiesBox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    > * {
        flex: auto 1 0;
    }

    // img {
    //     filter: invert(.2);
    // }
}

.imgBox {
    align-self: stretch;
    border-radius: 16px;
    flex-basis: 300px;
    background-image: url('/images/lady.jpg');
    background-size: cover;
    background-position: center;

    @media (max-width: 710px) {
        display: none;
    }
}