@use './variables.module.scss';

.box {
    padding: 36px 32px;
    width: fit-content;
    border-radius: 16px;

    @media (min-width: 720px) {
        padding: 48px 36px;
    }

    img {
        filter: invert(.05);
    }
}

.p {
    font-size: 20px;
    font-weight: 500;
    line-height: 128%;
    margin-top: 16px;
    color: variables.$gray_700;
}