$purple_300: #D8BFD8;
$purple-400: #A739A7;
$purple_600: #290629;
$purple_800: #1D041D;

$gold_300: #FFD448;
$gold_400: #D4AF37;  

$green_400: #98FF98;
$green_500: #162916;

$gray_200: #F1F1F1;
$gray_400: #D3D3D3;
$gray_700: #2F2F2F;
